<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Cats and Kittens</title>
    <link rel="stylesheet" href ="./css/bootstrap.css">
</head>
<body>
    <div class="header" style="text-align: center;">
        <h1>Cool Cats and Kittens</h1>
    </div>
    <div class="row">
        <div class='col text-center'>
            <a href="/cats/Curiosity">
                <img src="images/Curiosity.jpg" alt="Cool Cat 1" width="100%">
            </a>
            <h3>Curious Cool Cat</h3>
        </div>
        <div class='col text-center'>
            <a href=/cats/Carole>
                <img src="images/Carole.jpg" alt="Carol Effing Baskin" width="100%">
            </a>
            <h3>Carole F***ing Baskin</h3>
        </div>
        <div class='col text-center'>
            <a href="/cats/Cutie">
                <img src="images/Cutie.jpg" alt="Cool Cat 2" width="100%">
            </a>
            <h3>The cutest of the coolest cats</h3>
        </div>
    </div>
</body>
</html>