<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter a New Car!</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <h1>Enter A New Car!</h1>
    <form>
        <div class="form-group" style="width: 50%;">
            <label for="make">Make:</label>
            <input type="text" class="form-control">
        </div><br>
        <div class="form-group" style="width: 50%;">
            <label for="model">Model:</label>
            <input type="text" class="form-control" width="50%">
        </div><br>
        <div class="form-group" style="width: 50%;">
            <label for="year">Year:</label>
            <input type="text" class="form-control" width="50%">
        </div><br>
        <div class="form-group" style="width: 50%;">
            <label for="color">Color:</label>
            <input type="text" class="form-control">
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>