.main {
    border: 2px solid red;
    text-align: center;
    list-style-position: inside;

    ul{
        border: 2px solid yellow;

    }
}

.singleTask {
    border: 2px solid blue;
    width: 50%;
    display: inline-block;

}

.tasks{
    border: 1px solid black;
    width: 300px;
}